<div class="container-fluid bg-white">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-md-6 col-sm-12 mb-4">
                <div class="d-flex flex-column justify-content-center bg-warning h-100 p-4 p-md-5">

                    <div class="d-flex border border-secondary p-3 p-lg-4 mb-3 mb-lg-4">
                        <i class="bi bi-building fs-2 fs-lg-1 m-0 mr-2 mr-lg-3 px-2 px-lg-3"></i>
                        <div class="d-flex flex-column">
                            <h4 class="text-secondary">Our Office</h4>
                            <p class="m-0 text-white">#3 Jayanagar SouthEnd, Bengaluru, India</p>
                        </div>
                    </div>

                    <div class="d-flex border border-secondary p-3 p-lg-4 mb-3 mb-lg-4">
                        <i class="bi bi-envelope fs-2 fs-lg-1 m-0 mr-2 mr-lg-3 px-2 px-lg-3"></i>
                        <div class="d-flex flex-column">
                            <h4 class="text-secondary">Email Us</h4>
                            <p class="m-0 text-white">rajugjdecorator&#64;gmail.com</p>
                        </div>
                    </div>

                    <div class="d-flex border border-secondary p-3 p-lg-4">
                        <i class="bi bi-telephone fs-2 fs-lg-1 m-0 mr-2 mr-lg-3 px-2 px-lg-3"></i>
                        <div class="d-flex flex-column">
                            <h4 class="text-secondary">Call Us</h4>
                            <p class="m-0 text-white">+917349260179 , +918431741044</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-7 col-md-6 col-sm-12 mb-5 my-lg-5 py-lg-5 pl-lg-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form [formGroup]="contactForm" (ngSubmit)="send()">
                        <div class="control-group">
                            <input type="text" class="form-control p-3 p-lg-4" formControlName="name"
                                placeholder="Your Name" />
                            <p *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
                                class="text-danger">Please enter your name</p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control p-3 p-lg-4" formControlName="email"
                                placeholder="Your Email" />
                            <p *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                                class="text-danger">Please enter a valid email</p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-3 p-lg-4" formControlName="subject"
                                placeholder="Subject" />
                            <p *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched"
                                class="text-danger">Please enter a subject</p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control p-3 p-lg-4" formControlName="message" rows="6"
                                placeholder="Message"></textarea>
                            <p *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
                                class="text-danger">Please enter your message</p>
                        </div>
                        <div>
                            <button class="btn btn-warning py-3 px-4 px-lg-5" type="submit"
                                [disabled]="contactForm.invalid">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>