<div class="container-fluid bg-black py-5" style="height: 100px;">
    <div class="container-fluid position-relative nav-bar my-2 p-0">
        <div class="container position-relative" style="z-index: 10;">
            <nav class="navbar navbar-expand-lg bg-dark py-3 py-lg-2 pl-3 pl-lg-5">
                <a href="#" class="navbar-brand px-4">
                    <h1 class="text-center text-white">
                        <span class="text-warning">GJ</span>Decorators
                    </h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ml-auto d-flex justify-content-center w-100">
                        <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
                        <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                        <a routerLink="/service" routerLinkActive="active" class="nav-item nav-link">Service</a>
                        <a routerLink="/project" routerLinkActive="active" class="nav-item nav-link">Project</a>
                        <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid bg-white mb-4" style="padding-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <i class="bi bi-building icon-yellow fs-1 m-0 mr-3 px-3"></i>
                    <div class="d-flex flex-column">
                        <h5>Our Office</h5>
                        <p class="m-0">#3 Jayanagar SouthEnd, Bengaluru, India</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <i class="bi bi-envelope icon-yellow fs-1 m-0 mr-3 px-3"></i>
                    <div class="d-flex flex-column">
                        <h5>Email Us</h5>
                        <p class="m-0">rajugjdecorator&#64;gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-right mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <i class="bi bi-telephone icon-yellow fs-1 m-0 mr-3 px-3"></i>
                    <div class="d-flex flex-column">
                        <h5>Call Us</h5>
                        <p class="m-0">+917349260179 , +918431741044</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
