/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon-yellow {
    color: #ffbf00;
}
.btn-yellow {
    background-color: #ffbf00;
    border-color: #ffbf00;
}

