<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class=" mb-4 text-warning">Get In Touch</h4>
            <p><i class="bi bi-geo-alt mr-2 px-2"></i>#3 Jayanagar SouthEnd, Bengaluru, India</p>
            <p><i class="bi bi-telephone mr-2 px-2"></i>+917349260179 , +918431741044</p>
            <p><i class="bi bi-envelope mr-2 px-2"></i>rajugjdecorator&#64;gmail.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-light rounded-circle text-center mr-2 mx-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="bi bi-twitter"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 mx-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="bi bi-facebook"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 mx-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="bi bi-linkedin"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 mx-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="mb-4 text-warning">Quick Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" routerLink="/home"><i class="bi bi-chevron-right mr-2"></i>Home</a>
                <a class="text-white mb-2" routerLink="/about"><i class="bi bi-chevron-right mr-2"></i>About Us</a>
                <a class="text-white mb-2" routerLink="/service"><i class="bi bi-chevron-right mr-2"></i>Our Services</a>
                <a class="text-white mb-2" routerLink="/project"><i class="bi bi-chevron-right mr-2"></i>Our Projects</a>
                <a class="text-white" routerLink="/contact"><i class="bi bi-chevron-right mr-2"></i>Contact Us</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-warning mb-4">Newsletter</h4>
            <form action="">
                <div class="mb-1">
                    <label for="email" class="form-label text-white">Name</label>
                    <input type="email" name="email" id="email" class="form-control" formControlName="email" style="border: 1px solid black;">
                </div>

                <div class="mb-1">
                    <label for="password" class="form-label text-white">Email</label>
                    <input type="password" name="password" id="password" class="form-control" formControlName="password"
                        style="border: 1px solid black;">
                </div>

                <div>
                    <button class="btn btn-lg btn-warning w-100 btn-block border-0" type="submit">Submit Now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container border-top border-secondary pt-5">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-white font-weight-bold" style="text-decoration: none;" href="https://freewebsitecode.com"> <span class="text-warning">GJ</span>Decorators </a>. All Rights Reserved. 2024
        </p>
    </div>
</div>
